<!DOCTYPE html>
<html>
  <head>
    <title>artbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property='og:image' content="<%= image_url('letter.png')%>" />
    <style> @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');</style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script type="text/javascript">
      window.logo = "<%= image_url('letter.png')%>";
      window.home = "<%= image_url('home.png')%>";
      window.drop = "<%= image_url('more.png')%>";
      window.trash = "<%= image_url('bin.png')%>";
      window.camera = "<%= image_url('camera.png')%>";
      window.profilephoto = "<%= image_url('profile.jpg')%>"
      window.coverphoto = "<%= image_url('cover.jpg')%>"
      window.logoutdrop = "<%= image_url('down-arrow.png')%>"
      window.logout = "<%= image_url('logout.png')%>"
      window.github = "<%= image_url('github.png')%>"
      window.linkedin = "<%= image_url('linkedin.png')%>"
      window.angellist = "<%= image_url('angellist.png')%>"
    </script>
    <link rel='icon' href="<%= image_url('letter.png')%>" type='image/jpg' />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
